/* .div_01{
    width: 100%;
    position: fixed;
    z-index: 9999999999999999999999999999999999999999;
    background-color: white;
} */
.nav_head{
    width: 100%;
    position: fixed;
    z-index: 99999;
    background-color: white;
}
.hotline{
    font-size:15px;
    font-family: 'Noto Sans JP', sans-serif;
    color: #333!important;
}
.con1{
    padding-top:10px;
    
}
.div_01{
    width: 100%;
    /* position: fixed;
    display: none; */
    /* z-index:-10000000000; */
    background-color: white;
    border-bottom: 0.5px solid;

}
.nav-blog{
    text-align: right;
    float: right;
    position: relative;
}


.navbar{
    padding: 20px;
}
.navbar-nav .nav-link{
    font-size:12px;
    font-weight: 700;
    font-family: 'Noto Sans JP', sans-serif;
    color: #333;
}
.tog{
    position: absolute;
    top: 0;
    right: 0;
}
#sercice{
    color: rgb(247, 103, 7);
}
.logo{
    padding-top: 10px;
}
.section_04 .container{
    padding-top: 20px;
}
.card-text{
    font-size: 13px;
    text-align:justify;
    color: #666666;
    font-family: 'Lato', sans-serif;
}
.lk-card{
    min-height: 50%;
    margin-bottom: 0px;
    padding-bottom: 30px;
}
.dec{
   color:  rgb(0, 153, 255);
}
#read{
    position: absolute;
    right:8px;
    background-color:#333;
    color:#fff;
    border: none;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 10px;
    font-weight: 500;
    padding: 10px;

}
.section_04 button:hover{
    background-color: #fff;
}
.detail{
    font-size: 15px;
    color: #666666;
    text-align: justify;
    font-family: 'Lato', sans-serif;
}
.para{
    font-size: 16px;
    color: #666666;
}
.para b{
    font-weight: 500;
}
.section_06{
    position: relative;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.section_06 div{
    background: #000000a6;
}
.section_06 h2{
    width: 100%;
    margin-bottom: 0;
    padding:10%;
    color: aliceblue;
    text-align: center;
}
.section_06 button{
    position: absolute;
    top:70%;
    left: 45%;
    border: none;
    padding: 10px 28px;
    font-family:  'Lato', sans-serif;
    font-size: 13px;
    border: 1px solid #fff;
    border-radius: 5px;
    font-weight: 900;
    opacity: 0.3;
    color:rgb(15, 12, 12);
}
.section_06 button:hover{
    background: #aeaeae;
}
.cl-detail{
    padding: 20px;
}
.section_07 h2{
    font-weight: 200;
    /* color: #666666; */
}
.newblog{
    overflow: hidden;
    box-shadow: 0px 1px 10px #00000030;
}
.blog-other img{
    width: 100%;
    transition: 0.5s;
}
.blog-other img:hover{
    transform: scale(1.1);
    transition: 0.4s;
    filter:brightness(0.8);
}
#portfolio{
    position: absolute;
    /* margin:20px; */
    left: 44%;
    background: #333;
    border: none;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-size: 10px;
    font-family:  'Lato', sans-serif;
    opacity: 0.5;
    margin-top: 10px;
    /* width: 100%; */
   
}
.section_07.port button:hover{
    background:red;
}
.ft-list{
    list-style: none;
}
.ft-logo{
    width: 180px;
    padding-right: 50px;
}
.ft-con{
    padding-top: 50px;
  
}
.section_08{
    background:  #f2f2f2;
}